@*@model NewAnimalsHouses.Models.GetAllAnimalsViewModel
    @{
        ViewBag.Title = "Animal";
    }


    <h1>Animals</h1>
    @foreach (var animal in Model.AllAnimals)
    {
    <p>Name: @animal.Name Age: @animal.Age House: @animal.House.Name</p>
    }*@

@*@section styles{
    <link href="@Url.Content("~/Content/CustomStyles/ButtonModeStyles.css")">
}*@

@section scripts{
        <script src="@Url.Content("~/Scripts/CustomScripts/ModeButtonScript.js")"></script>
    }

@section Button{
    <button class="dark-mode">Dark mode</button>
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Animals</h1>

@{Html.RenderPartial("AnimalPartialView");}


