@*@model NewAnimalsHouses.Models.GetAllHousesViewModel
    @{
        ViewBag.Title = "House";
    }

    <h2>House</h2>

    @foreach (var house in Model.AllHouses)
    {
        <p>House: @house.Name</p>
        foreach (var animal in house.Animals)
        {
            <p>Animal name: @animal.Name Animal age: @animal.Age</p>
        }
    }*@
@*@section styles{
    <link href="@Url.Content("~/Content/CustomStyles/ButtonModeStyles.css")">
}*@

@section scripts{
    <script src="@Url.Content("~/Scripts/CustomScripts/ModeButtonScript.js")"></script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Button {
    <button class="dark-mode">Dark mode</button>
}

<h1>Houses</h1>


@{Html.RenderPartial("AnimalPartialView");}