<!DOCTYPE html>
<style>
    .dark-mode, .light-mode {
        margin-top: 10px;
    }

    .light-mode {
        color: black;
    }

    .dark-mode:hover, .light-mode::after hover {
            border-color: black;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="Body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="/AnimalsHouses/Animal">Animals</a></li>
                    <li><a href="/AnimalsHouses/House">Houses</a></li>
                    <li><button class="dark-mode">Dark mode</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        let buttonDarkMode = document.querySelector('.dark-mode');
        let buttonLightMode = document.createElement('button');

        function DarkMode() {
            let elementBox = document.querySelector('.jumbotron');
            elementBox.style.backgroundColor = 'black';

            let bodyElement = document.querySelector('.Body');
            bodyElement.style.backgroundColor = 'black';

            let textElement = document.querySelector('.Body');
            textElement.style.color = 'white';

            buttonLightMode.className = 'light-mode';
            buttonLightMode.innerHTML = 'Light mode';

            buttonDarkMode.replaceWith(buttonLightMode);

            function LightMode() {
                bodyElement.style.backgroundColor = 'white';
                textElement.style.color = 'black';
                elementBox.style.backgroundColor = '#eeeeee';
                buttonLightMode.replaceWith(buttonDarkMode);

            }
            buttonLightMode.addEventListener('click', LightMode);
        };

        buttonDarkMode.addEventListener('click', DarkMode);
    </script>
</body>
</html>
